<form class="form-signin">
	<h2 class="form-signin-heading">Add new todo</h2>
	<input type="text" id="tb-text" class="form-control" placeholder="Text" required autofocus>
	<p></p>
	<input type="text" id="tb-category" class="form-control" placeholder="Category" required>
	<p></p>
	<button id="btn-add" class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>