<form class="form">
	<h2 class="form-signin-heading">Share new cookie</h2>
	<br>
	<input type="text" id="tb-category" class="form-control" placeholder="Category" required autofocus>
	<br>
	<input type="text" id="tb-text" class="form-control" placeholder="Text" required>
	<br>
	<input type="url" id="tb-img-url" class="form-control" placeholder="Image URL">

	<button id="btn-share" class="btn btn-lg btn-primary btn-block" type="submit">Share</button>
</form>