<input type="text" id="tb-username" placeholder="username" value="asd"><br>
<input type="text" id="tb-password" placeholder="password" value="asd">
<hr>
<button id="btn-register">Register</button>
<button id="btn-login">Login</button>