<div class="form-group">
<h1>Register:</h1>
<input id="tb-username" class="form-control col-xs-4" type="text" placeholder="Username">
<input id="tb-password" class="form-control" type="text" placeholder="Password">
<button id="btn-register" class="btn btn-primary">Register</button>
</div>