<h1>Threads</h1>
<div id="threads-container">
	<hr>
	{{#each this}}
		<div class="thread-box">
			<h2>{{title}}</h2>
			<h3>{{id}}</h3>					
			<button class="btn-more" href="#/threads/id">more...</button>
		</div>
	{{/each}}
</div>